* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --bg: #057;
  --primaria: #f56;
  --secundaria: #2ce;
  --lightP1: #ccc;
  --light: #fff;
}


body {
  font-family: sans-serif;
  background-color: var(--bg);
}

button {
  cursor: pointer;
}
